.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 980px;
}

img {
  width: 100%;
}

.firstTestsCard {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.secondTestsCard {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.testsPerUser {
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

.kpis {
  padding-top: 30px;
  width: 90%;
  max-width: 980px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}
.graftAdmin {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.grafts {
  width: 100%;
}
