<app-header-admin></app-header-admin>
<div class="kpis">
  <app-kpi
    icon="https://img.icons8.com/cotton/64/000000/business-group.png"
    text="Number Users"
    resolte="{{ totalUsers }}"
    alt="Users"
  ></app-kpi>
  <app-kpi
    icon="https://img.icons8.com/cotton/64/000000/business-group.png"
    text="Number Employees"
    resolte="{{ totalEmployees }}"
    alt="Users"
  ></app-kpi>
  <app-kpi
    icon="https://img.icons8.com/cotton/64/000000/business-group.png"
    text="Total Request"
    resolte="{{ totalRequests }}"
    alt="Users"
  ></app-kpi>

  <app-kpi
    icon="https://img.icons8.com/cotton/64/000000/business-group.png"
    text="Request Not Infected"
    resolte="{{ totalNegative }}"
    alt="Users"
  ></app-kpi>

  <app-kpi
    icon="https://img.icons8.com/cotton/64/000000/business-group.png"
    text="Request Infected"
    resolte="{{ totalPositive }}"
    alt="Users"
  ></app-kpi>

  <app-kpi
    icon="https://img.icons8.com/cotton/64/000000/business-group.png"
    text="Request Suspect"
    resolte="{{ totalSuspect }}"
    alt="Users"
  ></app-kpi>
</div>
<div class="grafs">
  <div class="graftAdmin">
    <mat-card class="firstTestsCard">
      <mat-toolbar color="primary" class="toolbar">
        <h2>First Tests Per Day</h2>
      </mat-toolbar>
      <img
        src="https://quickchart.io/chart?c={type:'line',data:{labels:[{{
          firstDates
        }}], datasets:[{label:'Requests', data:[{{
          firstValues
        }}], fill:false,borderColor:'blue'}]}}"
      />
    </mat-card>
  </div>

  <div class="graftAdmin">
    <mat-card class="secondTestsCard">
      <mat-toolbar color="primary" class="toolbar">
        <h2>Second Tests Per Day</h2>
      </mat-toolbar>
      <img
        src="https://quickchart.io/chart?c={type:'line',data:{labels:[{{
          secondDates
        }}], datasets:[{label:'Requests', data:[{{
          secondValues
        }}], fill:false,borderColor:'green'}]}}"
      />
    </mat-card>
  </div>

  <div class="graftAdmin">
    <mat-card class="testsPerUser">
      <mat-toolbar color="primary" class="toolbar">
        <h2>Requests Per User</h2>
      </mat-toolbar>
      <img
        src="https://quickchart.io/chart?c={type:'bar',data:{labels:[{{
          usersIds
        }}], datasets:[{label:'Requests', data:[{{
          totalValues
        }}], fill:false,borderColor:'blue'}]}}"
      />
    </mat-card>
  </div>
</div>
