header {
  background: rgb(1, 72, 115);
  background: linear-gradient(
    90deg,
    rgba(1, 72, 115, 1) 0%,
    rgba(160, 234, 207, 1) 100%
  );
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 90%;
  max-width: 980px;
  margin: auto;
}

header img {
  width: 150px;
  margin-left: 20px;
  padding: 15px 0;
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 24px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(255, 255, 255, 0.15);
}

@media (max-width: 980px) {
  header .container {
    width: 90%;
  }

  header img {
    width: 70px;
    margin-left: 20px;
    padding: 15px 0;
  }

  header nav ul li a {
    font-size: 13px;
    padding: 16px;
  }
}

@media (max-width: 460px) {
  header .container {
    width: 90%;
  }

  header img {
    width: 50px;
    margin-left: 10px;
    padding: 5px 0;
  }

  header nav ul li a {
    font-size: 10px;
    padding: 10px;
  }
}
