<header>
  <div class="container">
    <img src="../../assets/logo.png" alt="Logo" />
    <div class="menu-section">
      <div class="menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <nav>
        <ul>
          <li>
            <a routerLink="/home/">Home</a>
          </li>
          <li>
            <a routerLink="/question/">Perguntas Frequentes</a>
          </li>
          <li>
            <a routerLink="/login/">Login</a>
          </li>
          <li>
            <a routerLink="/register/">Register</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
