<header>
  <div class="container">
    <img src="../../assets/logo.png" alt="Logo" />
    <div class="menu-section">
      <nav>
        <ul>
          <li>
            <a routerLink="/home/">Home</a>
          </li>
          <li>
            <a routerLink="/question/">Perguntas Frequentes</a>
          </li>
          <li>
            <a routerLink="/login/">Login</a>
          </li>
          <li>
            <a routerLink="/register/">Register</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
