.user-page-container {
  width: 100%;
  max-width: 980px;
  height: 83%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  border-radius: 8px;
  width: 100%;
}

.description {
  margin-top: 50px;
  margin-bottom: 70px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

mat-expansion-panel {
  margin-left: 5px;
  margin-right: 5px;
}

.information {
  margin-top: 55px;
  width: 100%;
  bottom: 0;
  position: absolute;
  background-color: #3f51b5;
  color: white;
  padding: 20px;
}

.information-content {
  max-width: 980px;
  margin: 0 auto;
}

.information * {
  color: white;
}

.toolbar {
  border-radius: 0px;
  width: 100%;
  width: 100%;
}

.toolbar-title {
  width: 90%;
  max-width: 980px;
  margin: auto;
  color: white;
}

p {
  font-size: 16px;
  color: #262626;
}
.title {
  margin-bottom: 10px;
}
hr {
  size: 5px;
}

hr {
  border: 5px solid #3f51b5;
  width: 100%;
  margin-bottom: 10px;
}

h2 {
  color: #262626;
}

.link {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
