.user-page-container {
  width: 100%;
  max-width: 1128px;
  height: 89vh;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  border-radius: 8px;
  width: 100%;
}

.description {
  margin-top: 50px;
  margin-bottom: 70px;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  width: 100%;
}

mat-expansion-panel {
  margin-left: 5px;
  margin-right: 5px;
}

.information {
  margin-top: 55px;
  width: 100%;
}
