<app-header-user></app-header-user>
<mat-toolbar color="primary" class="toolbar">
  <h2 class="toolbar-title">Welcome to Centro Regional de Análises</h2>
</mat-toolbar>
<div class="user-page-container">
  <div class="description">
    <p>
      This iniciative seeks to help the local government control the spread of
      the
      <b>COVID-19</b>, and improve the efficiency of the scheduling of the
      tests. The way it works is very simple, below you have the flow of how you
      should expect the system will work.
    </p>
  </div>
  <h2>How it works</h2>
  <div class="content">
    <div class="card1">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>The Creation of the Request</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="card">
          <mat-card-content>
            <p>
              In order to you create a request, in the top of the page, you have
              a
              <a routerLink="/user/createRequest">section</a> where you can
              create a request. It's a simple form where you only have to answer
              3 questions.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </div>

    <div class="card2">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Check the Requests</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="card">
          <mat-card-content>
            <p>
              After your request is submited, you can check all your requests
              and also check all the details of the requests
              <a routerLink="/user/requests">here</a>.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </div>

    <div class="card3">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>The Treatment of the Request</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="card">
          <mat-card-content>
            <p>
              After you request is submited, our employees have now access to
              your request and one of them will take care of it.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </div>

    <div class="card4">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>The Scheduling of the Tests</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="card">
          <mat-card-content>
            <p>
              After one of our employees claims your requests, he/she will be
              the one to schedule the date of the first test.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </div>

    <div class="card5">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>Second Test</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="card">
          <mat-card-content>
            <p>
              In case the first tests result comes negative, the date for the
              second test is automatically schedule, and you will receive an
              e-mail.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </div>

    <div class="card6">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <b>The Updates</b>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card class="card">
          <mat-card-content>
            <p>
              After one of our employees claims your requests, he/she will now
              update your request and when he/she does, you will receive an
              e-mail about that update.
            </p>
          </mat-card-content>
        </mat-card>
      </mat-expansion-panel>
    </div>
  </div>
  <div class="information">
    <p>
      And always make sure you get you information about the <b>COVID-19</b> in
      a reliable information source, such as:
    </p>
    <p>
      <a href="https://www.who.int/"
        >WHO - World Health Organization
        <img src="../../../assets/WHO.png" alt="WHO" width="30" height="30"
      /></a>
    </p>
    <p>
      <a href="https://www.dgs.pt/"
        >DGS - Direção Geral da Saúde
        <img src="../../../assets/DGS.png" alt="DGS" width="150" height="30"
      /></a>
    </p>
  </div>
</div>
