<app-header-employee></app-header-employee>
<div class="update-request-container">
  <div class="content">
    <h2>Request {{ information }}</h2>
    <p>Employee ID: {{ request.employeeId }}</p>
    <p>User ID: {{ request.userId }}</p>
    <p>Risk Group: {{ request.riskGroup }}</p>
    <p>Risk Profession: {{ request.riskProfession }}</p>
    <p>saude24: {{ request.saude24 }}</p>

    <form>
      <mat-form-field>
        <mat-label>First Test Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker1"
          [value]="request.firstTestDate"
          [(ngModel)]="request.firstTestDate"
          [ngModelOptions]="{ standalone: true }"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>First Test Result</mat-label>
        <mat-select
          [(ngModel)]="request.firstTestResult"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option value="Positive">Positive</mat-option>
          <mat-option value="Negative">Negative</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Second Test Date</mat-label>
        <input
          matInput
          [matDatepicker]="picker2"
          [value]="request.secondTestDate"
          [(ngModel)]="request.secondTestDate"
          [ngModelOptions]="{ standalone: true }"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br />
      <mat-form-field>
        <mat-label>Second Test Result</mat-label>
        <mat-select
          [(ngModel)]="request.secondTestResult"
          [ngModelOptions]="{ standalone: true }"
        >
          <mat-option value="Positive">Positive</mat-option>
          <mat-option value="Negative">Negative</mat-option>
        </mat-select>
      </mat-form-field>
    </form>

    <p>Request State: {{ request.requestState }}</p>
    <p>User State: {{ request.userState }}</p>

    <button mat-raised-button color="primary" (click)="updateRequest()">
      Confirm
    </button>
    <button mat-raised-button color="primary" routerLink="/employee/request">
      Cancel
    </button>
  </div>
</div>
