.update-request-container {
  width: 100%;
  max-width: 1120px;
  height: 89vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.toolbar {
  border-radius: 8px;
}

.button-container {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.information {
  width: 50%;
  padding-top: 50px;

  padding-right: 96px;
  padding-left: 96px;
  padding-bottom: 96px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.custom-file-input {
  color: transparent;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  content: "Upload pdf";
  color: #fff;
  display: inline-block;
  background: #3f51b5;

  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
