<app-header-employee></app-header-employee>

<form (submit)="handleSubmit($event)">
  <input
    [(ngModel)]="requestId"
    name="requestId"
    type="text"
    placeholder="Request ID"
  />
  <button type="submit">Search</button>
</form>

<table mat-table [dataSource]="list" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td
      mat-cell
      *matCellDef="let element"
      (click)="showRequest(element.id)"
      routerLink="/employee/request"
    >
      {{ element.id }}
    </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="requestState">
    <th mat-header-cell *matHeaderCellDef>Resquest State</th>
    <td mat-cell *matCellDef="let element">{{ element.requestState }}</td>
  </ng-container>

  <ng-container matColumnDef="userState">
    <th mat-header-cell *matHeaderCellDef>User State</th>
    <td mat-cell *matCellDef="let element">{{ element.userState }}</td>
  </ng-container>

  <ng-container matColumnDef="userId">
    <th mat-header-cell *matHeaderCellDef>User ID</th>
    <td mat-cell *matCellDef="let element">{{ element.userId }}</td>
  </ng-container>

  <ng-container matColumnDef="firstTestDate">
    <th mat-header-cell *matHeaderCellDef>First Test Date</th>
    <td mat-cell *matCellDef="let element">{{ element.firstTestDate }}</td>
  </ng-container>

  <ng-container matColumnDef="firstTestResult">
    <th mat-header-cell *matHeaderCellDef>First Test</th>
    <td mat-cell *matCellDef="let element">{{ element.firstTestResult }}</td>
  </ng-container>

  <ng-container matColumnDef="secondTestDate">
    <th mat-header-cell *matHeaderCellDef>Second Test Date</th>
    <td mat-cell *matCellDef="let element">{{ element.secondTestDate }}</td>
  </ng-container>

  <ng-container matColumnDef="secondTestResult">
    <th mat-header-cell *matHeaderCellDef>Second Test</th>
    <td mat-cell *matCellDef="let element">{{ element.secondTestResult }}</td>
  </ng-container>

  <ng-container matColumnDef="employeeId">
    <th mat-header-cell *matHeaderCellDef>Responsible</th>
    <td mat-cell *matCellDef="let element">{{ element.employeeId }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
