<header>
  <div class="container">
    <img src="../../assets/logo.png" alt="Logo" />
    <div class="menu-section">
      <nav>
        <ul>
          <li>
            <a routerLink="/user/">Home</a>
          </li>
          <li>
            <a routerLink="">Create Request</a>
          </li>
          <li>
            <a routerLink="/user/requests">My Requests</a>
          </li>
          <li>
            <a routerLink="/user/profile">My Profile</a>
          </li>
          <li>
            <a routerLink="/login/" (click)="logout()">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
