<app-header></app-header>
<img src="../../../assets/banner.jpeg" alt="banner" />
<div class="container">
  <h1>Videos de ajuda</h1>
  <hr />
</div>
<div>
  <div class="container">
    <iframe
      width="50%"
      height="315"
      src="https://www.youtube.com/embed/y4JYKBEdhxw"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <iframe
      width="50%"
      height="315"
      src="https://www.youtube.com/embed/nBucUH4udZI"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
