<div class="register-container">
  <div class="content" *ngIf="!success">
    <section>
      <h1>
        Registration
        <img
          src="https://img.icons8.com/ultraviolet/40/000000/select-users.png"
          alt="Create Users"
        />
      </h1>
      <p *ngIf="!user">
        Create a Users Account
      </p>
      <p *ngIf="user">
        Create a Employee Account
      </p>

      <div class="buttons">
        <button (click)="loginPage()" *ngIf="!user">I have an account</button>
        <button (click)="goBack()">Go back</button>
      </div>
    </section>

    <form (submit)="handleRegister($event)">
      <input
        [(ngModel)]="nif"
        name="nif"
        class="input"
        type="text"
        placeholder="NIF"
      />
      <input
        [(ngModel)]="email"
        name="email"
        class="input"
        type="email"
        placeholder="E-mail"
      />
      <input
        [(ngModel)]="name"
        name="name"
        class="input"
        type="text"
        placeholder="Name"
      />
      <input
        [(ngModel)]="password"
        name="password"
        class="input"
        type="password"
        placeholder="Password"
      />
      <input
        [(ngModel)]="contact"
        name="contact"
        class="input"
        type="number"
        placeholder="Contact"
      />
      <mat-form-field>
        <mat-label>Birth Date</mat-label>
        <input
          [(ngModel)]="birthDate"
          name="birthDate"
          matInput
          [matDatepicker]="myDatepicker"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="myDatepicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>

      <button class="button" type="submit">
        Register
      </button>
    </form>
  </div>
  <div *ngIf="success" class="successMessage">
    <h2>Employee was created.</h2>
    <button mat-raised-button color="primary" routerLink="/admin/">
      Confirm
    </button>
  </div>
</div>
