<div class="login-container">
  <section class="form">
    <form (submit)="handleSubmit($event)">
      <h1>Login</h1>
      <input
        [(ngModel)]="nif"
        name="nif"
        type="number"
        min="100000000"
        max="999999999"
        placeholder="NIF"
      />
      <input
        [(ngModel)]="password"
        name="password"
        type="password"
        placeholder="Password"
      />
      <button type="submit" class="button">
        Enter
      </button>
    </form>
  </section>
  <img src="../../../assets/doctors.svg" alt="Doctor" />
</div>
