<app-header></app-header>
<div class="cards">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>O que é a COVID-19?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        COVID-19 é a designação dada pela Organização Mundial da Saúde para
        identificar a doença provocada pelo novo coronavírus SARS-CoV-2. Este
        novo coronavírus foi identificado pela primeira vez em dezembro de 2019
        na China, na cidade de Wuhan. Os casos iniciais da doença COVID-19 foram
        associados a um mercado em Wuhan (Wuhan’s Huanan Seafood Wholesale
        Market). O mercado foi encerrado a 1 de janeiro de 2020, mas a doença
        foi progredindo desencadeando uma epidemia mundial ou pandemia.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Como se transmite?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        A COVID-19 transmite-se pessoa-a-pessoa por contacto próximo com pessoas
        infetadas pelo SARS-CoV-2 (transmissão direta), ou através do contacto
        com superfícies e objetos contaminados (transmissão indireta). A
        transmissão por contacto próximo ocorre principalmente através de
        gotículas que contêm partículas virais que são libertadas pelo nariz ou
        boca de pessoas infetadas, quando tossem ou espirram, e que podem
        atingir diretamente a boca, nariz e olhos de quem estiver próximo.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Qual é o período de incubação?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Atualmente, estima-se que o período de incubação da doença (tempo
        decorrido desde a exposição ao vírus até ao aparecimento de sintomas)
        seja entre 1 e 14 dias.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Existe uma vacina?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Atualmente não existe vacina que previna a infeção por SARS-CoV-2. Sendo
        um vírus recentemente identificado, estão ainda em curso investigações
        em diversos países para o desenvolvimento de uma vacina com eficácia
        comprovada e que respeite os requisitos necessários de segurança.
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title
        >Quem está em risco de doença por COVID-19?</mat-card-title
      >
    </mat-card-header>
    <mat-card-content>
      <p>
        O vírus não tem nacionalidade, idade ou género, por isso todos corremos
        o risco de contrair a COVID-19. Ainda assim, as pessoas que correm maior
        risco de doença grave por COVID-19 são os idosos e pessoas com doenças
        crónicas (ex.: doenças cardíacas e doenças pulmonares).
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Devo viajar?</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>
        Caso tenha de viajar ou esteja fora de Portugal, registe-se na aplicação
        móvel gratuita “Registo Viajante”, disponível para dispositivos Android
        e IOS, permitindo ser imediatamente localizado e contactado em caso de
        emergência, como catástrofes naturais, acidentes ou atentados. Pode
        igualmente registar-se no Formulário Registo Viajante.
      </p>
    </mat-card-content>
  </mat-card>
</div>
