<app-header-user></app-header-user>
<div class="create-request-container">
  <div class="content">
    <mat-toolbar color="primary" class="toolbar">
      <h2>New Request</h2>
    </mat-toolbar>
    <div class="information">
      <p>Do you belong to a risk group?</p>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="riskGroup">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>
      <p>Do you have a risk profession?</p>
      <mat-radio-group
        aria-label="Select an option"
        [(ngModel)]="riskProfession"
      >
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>
      <p>Were you redirected by the line saude24?</p>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="saude24">
        <mat-radio-button value="true">Yes</mat-radio-button>
        <mat-radio-button value="false">No</mat-radio-button>
      </mat-radio-group>

      <button mat-raised-button color="primary" (click)="submitRequest()">
        Submit
      </button>
    </div>
  </div>
</div>
