<header>
  <div class="container">
    <img src="../../assets/logo.png" alt="Logo" />
    <div class="menu-section">
      <div class="menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <nav>
        <ul>
          <li>
            <a routerLink="/admin/">Home</a>
          </li>
          <li>
            <a routerLink="/admin/registerEmployee/">Create Employee</a>
          </li>
          <li>
            <a routerLink="/admin/users">Employees</a>
          </li>
          <li>
            <a routerLink="/admin/profile">Profile</a>
          </li>
          <li>
            <a (click)="logout()" routerLink="/login/">Logout</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
