<app-header-employee *ngIf="userRole === roleEmployee"></app-header-employee>
<app-header-user *ngIf="userRole === roleUser"></app-header-user>

<div class="request-container">
  <div class="content" *ngIf="request">
    <mat-toolbar color="primary" class="toolbar">
      <h2>Request {{ information }}</h2>
    </mat-toolbar>
    <div class="information">
      <p *ngIf="request.employeeId; else noId">
        Employee ID: {{ request.employeeId }}
      </p>
      <ng-template #noId>Employee ID: None</ng-template>
      <p>User ID: {{ request.userId }}</p>

      <p>Risk Group: {{ request.riskGroup }}</p>
      <p>Risk Profession: {{ request.riskProfession }}</p>
      <p>saude24: {{ request.saude24 }}</p>

      <p *ngIf="request.firstTestDate; else noFirstDate">
        First Test Date: {{ request.firstTestDate }}
      </p>
      <ng-template #noFirstDate>
        First Test Date: None
      </ng-template>
      <p>First Test Result: {{ request.firstTestResult }}</p>
      <p *ngIf="request.secondTestDate; else noSecondDate">
        Second Test Date: {{ request.secondTestDate }}
      </p>
      <ng-template #noSecondDate>
        Second Test Date: None
      </ng-template>
      <p>Second Test Result: {{ request.secondTestResult }}</p>
      <p>Request State: {{ request.requestState }}</p>
      <p>User State: {{ request.userState }}</p>

      <button
        mat-raised-button
        color="primary"
        (click)="downloadFile()"
        *ngIf="request.file"
      >
        Download File
      </button>

      <div class="button-container" *ngIf="user">
        <button
          mat-raised-button
          color="primary"
          routerLink="/employee/request/update"
          *ngIf="
            request.employeeId == user._id &&
            !requestState &&
            user.role === roleEmployee
          "
        >
          Update
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="claimRequest()"
          *ngIf="!request.employeeId && user.role === roleEmployee"
        >
          Claim Request
        </button>
        <button mat-raised-button color="primary" (click)="goBack()">
          Go Back
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!request">
    <mat-spinner></mat-spinner>
  </div>
</div>
