table {
  width: 100%;
}

form input {
  height: 30px;
  color: #212121;
  border: 2px solid #2d82bb;
  border-radius: 8px;
  padding: 0 24px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
}

button {
  margin-left: 5px;
  background: #2d82bb;
  border: 0;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  margin-top: 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
  padding-right: 5px;

  cursor: pointer;

  transition: filter 0.2s;
}

.button:hover {
  filter: brightness(90%);
}
