<app-header-user></app-header-user>
<div class="update-password-container">
  <mat-toolbar color="primary" class="toolbar">
    <h2>Change Password</h2>
  </mat-toolbar>
  <div class="content" *ngIf="user && !success">
    <form>
      <mat-form-field class="example-full-width">
        <mat-label>Current Password</mat-label>
        <input
          matInput
          placeholder="Current Password"
          [(ngModel)]="currentPassword"
          [ngModelOptions]="{ standalone: true }"
          type="password"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input
          matInput
          placeholder="New Password"
          [(ngModel)]="newPassword"
          [ngModelOptions]="{ standalone: true }"
          type="password"
        />
      </mat-form-field>
    </form>

    <button mat-raised-button color="primary" (click)="changePassword()">
      Confirm
    </button>
    <button mat-raised-button color="primary" routerLink="/user/profile">
      Cancel
    </button>
  </div>
  <div *ngIf="success" class="successMessage">
    <h2>
      Your password was updated.
    </h2>
    <button mat-raised-button color="primary" routerLink="/user/profile">
      Confirm
    </button>
  </div>
  <div *ngIf="!user">
    <mat-spinner></mat-spinner>
  </div>
</div>
