<app-header-user *ngIf="user && user.role === roleUser"></app-header-user>
<app-header-admin *ngIf="user && user.role === roleAdmin"></app-header-admin>
<div class="request-container">
  <div class="content" *ngIf="user">
    <mat-toolbar color="primary" class="toolbar">
      <h2>NIF:{{ user.nif }}</h2>
    </mat-toolbar>
    <div class="information">
      <p>Name: {{ user.name }}</p>
      <p>E-mail: {{ user.email }}</p>
      <p>Contact: {{ user.contact }}</p>
      <p>Birth Date: {{ user.birthDate }}</p>

      <div class="button-container">
        <button
          mat-raised-button
          color="primary"
          routerLink="/user/profile/update"
          *ngIf="user.role === roleEmployee || user.nif === userLogged.nif"
        >
          Update
        </button>
        <button mat-raised-button color="primary" (click)="goBack()">
          Go Back
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!user">
    <mat-spinner></mat-spinner>
  </div>
</div>
