.request-container {
  width: 100%;
  max-width: 1120px;
  height: 89vh;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.toolbar {
  border-radius: 8px;
}

.button-container {
  margin-top: 10px;

  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  margin-top: 5px;
}

.information {
  width: 50%;
  padding-top: 50px;

  padding-right: 96px;
  padding-left: 96px;
  padding-bottom: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
